# /node_modules and /bower_components ignored by default

# build files
ember-cli-build.js
config/**/*
dist/**/*
lib/**/*
mirage/**/*
server/**/*
scripts/**/*
tests/fixtures/**/*
tmp/**/*
vendor/**/*

app/router.js
public/assets/js/skrimps.js

# runs in Phantom, which lacks support for required ES2016 features
tests/blanket-options.js
