@import url(https://fonts.googleapis.com/css?family=VT323);

#death-star {
  position:absolute;
  margin: 1550px auto 0 60%;
  width:75px;
}

#monster {
  bottom:0;
  position: absolute;
  margin: 0 auto 0 60%;
  width: 175px;
}

#ocean {
   background: linear-gradient(to top, black, #000055, #00DCFF);
   position: absolute;
   width:100%;
   height:3960px;
}

#space {
  background: linear-gradient(to top, #00DCFF, #000055, #000022, black);
  position: absolute;
  width:100%;
  height:3960px;
}

#stars {
  background: url(../images/stars.png) repeat;
  position: absolute;
  width:100%;
  height:3600px;
}

#submarine {
  display:block;
  position:fixed;
  top:50%;
  right:33%;
  width:150px;
}

div {
  color:white;
  font-family:vt323;
}

#intro {
  font-size: 32px;
  margin: 12% 10% -200px 10%;
}

.depth {
  font-size: 26px;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  left:33%;
}

.small {
  color: #dddddd;
  font-size: 22px;
}

.left {
    margin: 300px 0 0 10%;
}
 .right {
     margin: 300px 0 0 75%;
 }